body{
    width: 100%;
    height: 100%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#bar{
    width: 80%;
    height: 800px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
}
#header{
    width: 80%;
    height: 200px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
  
}
.todo{
    width: 25%;
    height: min-content;
    background-color: tan;
    display: flex;
    gap: 20px;
    flex-direction: column;

    text-align: center;
    justify-content: space-between;


}
.button{
    width: 100%;
    height: 50px;
}
#pol{
    width: 500px;
    height: 800px;
    background-color: aqua;
   position: absolute;
   top: 100px;
   display: none;
   display: flex;
   flex-direction: column;
 justify-content: space-between ;

display: none;

}
#title_box{
    width: 100%;
    height: 200px;
    background-color: blue;
}
#desc_box{
    width: 100%;
    height: 200px;
    background-color: blue;
}
#desc{
    width: 90%;
    height: 70%;
}
#sub{
    width: 60%;
    height: 5%;
    
}
#x{
    width: 30px;
    height: 30px;
    background-color: red;
}
#status_box{
    width: 100%;
height: 200px;

display: flex;
justify-content: center;
flex-direction: column  ;

}
#status{
    width: 70%;
    height: 50px;
}
#choices{
    width: 100%;
    height: 200px;

    position: absolute;
    top: 70%;
display: none;
  
    text-align: center;
    font-size: 30px;
   background-color: ghostwhite;
}
#choices1{
    width: 100%;
    height: 25%;

}
#choices2{
    width: 100%;
    height: 25%;

}
#choices3{
    width: 100%;
    height: 25%;
   
}
#choices1:hover{
    background-color: gray;
}
#choices2:hover{
    background-color: gray;
}
#choices3:hover{
    background-color: gray;
}
#newT{
    width: 90%;
    height: 50px;
    background-color: blueviolet;
    border-radius: 15px;

}